# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.env
.env.dev
.env.prod

# IDE
*.code-workspace


# Logs
*.log

# Build
build/
dist/
*.egg-info/
*.egg

# Miscellaneous
*.swp
*.swo
.DS_Store
pkl/
config.yaml
logs/