langchain
langchain-community
fastembed
langchain-milvus
crawl4AI===0.6.3                             
pydantic-settings # TODO: check if this is needed
tqdm
fastapi
python-multipart # for file upload
uvicorn
PyPDF2
pypdf
langchain-ollama
firecrawl-py
python-dotenv