langchain
langchain-community
fastembed
langchain-milvus                       
pydantic-settings
tqdm
fastapi
python-multipart # for file upload
uvicorn
PyPDF2
pypdf
langchain-ollama
python-dotenv
langchain-text-splitters
asyncpg
colorama
ragflow-sdk
python-slugify
psycopg2
pandas
Crawl4AI # use for data validation (using built in pydantic modles)
