langchain
langchain-community
fastembed
langchain-milvus                        
pydantic-settings # TODO: check if this is needed
tqdm
fastapi
python-multipart # for file upload
uvicorn
PyPDF2
pypdf
langchain-ollama
firecrawl-py
python-dotenv
langchain-text-splitters
asyncpg
colorama
ragflow-sdk
python-slugify
psycopg2
pandas
pytest                  
pytest-asyncio          
Crawl4AI # use for data validation (using built in pydantic modles)
